* {box-sizing: border-box;}
body{margin:0; padding:0;}
.wrap {margin:0 auto;}
.index .wrap {width:90%;}
.manual .wrap {width:100%;}
.header h2 img {width: 27%;margin: 20px auto;display: block;}
.pimg {background:#e2e2e2;padding:30px; text-align:center; margin-bottom:20px;}
.pimg h1 {padding: 0;margin: 20px 0;}
.pimg a {position: relative;display:block; text-decoration:none;outline:none; margin-top:30px;color:#fff; background: #3d5fab;padding: 20px;text-align: center;border-radius: 50px; }
.pimg a::after {content:" > "; display:block; width: 30px;right: 30px;position: absolute;top: 0;height:61px; line-height:61px;font-size: 28px;}
.pimg > img {width:100%;}
.movie_wrap {width: 100%;padding: 50px 35px;margin: 0 auto;height: 100%;display: flex;background: #2d2d2d;align-items: center;flex-direction: row;flex-flow: wrap;}
.movie_wrap .inner {position: relative;width: 100%;padding-bottom: 56%;}
.movie_wrap .inner iframe {position: absolute;width: 100%;height: 100%;}
.wrap {margin:0 auto; width:100%;}
.manual .header h1{display:inline-block; width:100%; text-align:center;}
.manual .header span{position:relative; display:block; width:100%;padding: 0;background: #3d5fab; text-align:center; color:#fff; height: 41px; line-height: 41px;}
.manual .header  a.btn_back {text-decoration:none;outline:none; display: block;background: #272727;width: 60px;position: absolute;left: 0;top: 0;height: 41px;line-height: 41px;color: #fff;font-size: 28px;}
.smbox h1{width: 84%;margin: 50px 8% 20px;text-align: center;padding: 20px 5px;border: 3px solid #ccc;}
.smbox > img {width:100%;}
#ft {width:90%; margin: 50px auto 0 ; background:#fff;padding:30px 0 ;text-align:left;font-size: 13px;border-top: 1px solid #ddd;position:relative;z-index:2;}
#ft .ft_info span{display:inline-block;margin-bottom: 3px ;word-break:keep-all;font-size:1em;color:#666;font-family:'Noto Sans KR', sans-serif;font-weight:300}
#ft .ft_info .copy{font-size:1em;color:#666;font-family:'Noto Sans KR', sans-serif;font-weight:300;}
#ft p {margin:0;padding:10px 0;line-height:1.8em}